doc/common/communication_protocol_totvs/TOTVS-para-TRIEDA.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TotvsParaTrieda">
    <xs:annotation>
      <xs:documentation>Este documento representa o protocolo de comunicação de troca de dados do TOTVS Educacional para o TRIEDA cujo intuito é alimentar o Master Data do TRIEDA com as informações contidas na base de dados do TOTVS Educacional (existe um outro documento que representa o protocolo de troca de dados do TRIEDA para o TOTVS Educacional).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="turnos" type="GrupoTurno">
          <xs:annotation>
            <xs:documentation>Lista com as informações dos turnos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="semanasLetivas" type="GrupoSemanaLetiva">
          <xs:annotation>
            <xs:documentation>Lista com as informações das semanas letivas que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="campi" type="GrupoCampus">
          <xs:annotation>
            <xs:documentation>Lista com as informações dos campi que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="deslocamentosCampi" type="GrupoDeslocamento">
          <xs:annotation>
            <xs:documentation>Lista com as informações dos possíveis deslocamentos entre campi que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="deslocamentosUnidades" type="GrupoDeslocamento">
          <xs:annotation>
            <xs:documentation>Lista com as informações dos possíveis deslocamentos entre unidades que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="areasTitulacao" type="GrupoAreaTitulacao">
          <xs:annotation>
            <xs:documentation>Lista com as áreas de titulação que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="professores" type="GrupoProfessor">
          <xs:annotation>
            <xs:documentation>Lista com os professores que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="disciplinas" type="GrupoDisciplina">
          <xs:annotation>
            <xs:documentation>Lista com as disciplinas que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="regrasDivisaoCredito" type="GrupoDivisaoCreditos">
          <xs:annotation>
            <xs:documentation>Lista com as regras de divisão de créditos que serão armazenadas no MasterData do TRIEDA. Disciplinas que não possuem regra específica para divisão de créditos (ver campo divisaoDeCreditos em ItemDisciplina) irão utilizar como padrão as regras aqui listadas.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="tiposCurso" type="GrupoTipoCurso">
          <xs:annotation>
            <xs:documentation>Lista com os tipos de cursos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cursos" type="GrupoCurso">
          <xs:annotation>
            <xs:documentation>Lista com os cursos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ofertasCampi" type="GrupoOfertaCampus">
          <xs:annotation>
            <xs:documentation>Lista das ofertas de cursos em campi, com as respectivas demandas por disciplina, serão armazenadas no MasterData do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemTurno">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do turno, por exemplo, "Manhã".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempoAula" type="xs:int">
        <xs:annotation>
          <xs:documentation>Duração de uma aula (em minutos) do turno em questão, por exemplo, 50 minutos.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemSemanaLetiva">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da entidade que representa uma semana letiva (em versões mais antigas uma semana letiva era denominada de calendário).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descricao" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descrição da semana letiva, por exemplo, "semana padrão".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="turnosHorarios" type="GrupoTurnoHorarios">
        <xs:annotation>
          <xs:documentation>A lista dos turnos com seus respectivos horários de aula que definem a semana letiva em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemHorarioAula">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de um horário de aula. Este identificador será utilizado para referenciar um horário de aula dentro das informações de disponibilidade (de campus, unidades, salas, disciplinas, professores, ...). Veja ItemDisponibilidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inicio" type="xs:time">
        <xs:annotation>
          <xs:documentation>Hora de início do horário de aula em questão, por exemplo, 08:00 AM. O hora final não é armazenada pois pode ser calculada a partir da hora de início e do tempo de aula (atributo tempoAula do ItemTurno).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diasSemana" type="GrupoDiaSemana">
        <xs:annotation>
          <xs:documentation>Lista dos dias da semana (seg, ter, qua, ...) em que este horário de aula é oferecido dentro de um turno de uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTurnoHorarios">
    <xs:sequence>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horariosAula" type="GrupoHorarioAula">
        <xs:annotation>
          <xs:documentation>Lista dos horários de aula que serão oferecidos no turno (veja campo turnoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCampus">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do campus, por exemplo, "Campus Barra da Tijuca".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="estado" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sigla do estado (ou unidade federativa) onde o campus está localizado, por exemplo, "MG".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cidade" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da cidade onde o campus está localizado, por exemplo, "Belo Horizonte".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bairro" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do bairro onde o campus está localizado, por exemplo, "Savassi".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="horariosDisponiveis" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis em que o campus em questão pode operar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unidades" type="GrupoUnidade">
        <xs:annotation>
          <xs:documentation>Lista das unidades (prédios) que fazem parte do campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professores" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores dos professores (ItemProfessor) que podem ministrar aulas no campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemUnidade">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da unidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da unidade, por exemplo, "Unidade Frings".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="horariosDisponiveis" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis em que a unidade em questão pode operar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salas" type="GrupoSala">
        <xs:annotation>
          <xs:documentation>Lista das salas da unidade em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gruposSalas" type="GrupoGrupoSala">
        <xs:annotation>
          <xs:documentation>Lista com os grupos de salas (ou blocos) da unidade em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemSala">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da sala.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numero" type="xs:string">
        <xs:annotation>
          <xs:documentation>Número da sala de aula, por exemplo, "1001".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="andar" type="xs:string">
        <xs:annotation>
          <xs:documentation>Andar no prédio (unidade) em que sala está localizada, por exemplo: "1", "Subsolo".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoSalaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo da sala. Pode ser uma das três opções: 1-Sala de Aula, 2-Laboratório, 3-Auditório.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="capacidade" type="xs:int">
        <xs:annotation>
          <xs:documentation>Capacidade máxima de alunos que a sala em questão comporta, por exemplo, 30.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="horariosDisponiveis" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis em que a sala em questão pode ser utilizada.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasAssociadas" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que podem ser oferecidas na sala de aula em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoSala">
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de sala. As opções atualmente são: 1-Sala de Aula, 2-Laboratório, 3-Auditório.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de sala. As opções atualmente são: "Sala de Aula", "Laboratório", "Auditório".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemGrupoSala">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do grupo de salas (ou bloco).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salas" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista com os identificadores das salas que fazem parte do grupo de salas (ou bloco).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisponibilidade">
    <xs:sequence>
      <xs:element name="semanaLetivaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador de uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador de um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horarioAulaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador de um horário de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diasSemana" type="GrupoDiaSemana">
        <xs:annotation>
          <xs:documentation>Lista de inteiros que representam os dias da semana em que o horário de aula em questão estará disponível.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDeslocamento">
    <xs:sequence>
      <xs:element name="origemId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da entidade de origem que pode ser um campus (ItemCampus) ou uma unidade (ItemUnidade).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da entidade de destino que pode ser um campus (ItemCampus) ou uma unidade (ItemUnidade).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Tempo (em minutos) para se deslocar da origem para o destino.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="custo" type="xs:double">
        <xs:annotation>
          <xs:documentation>Custo (em reais R$) para se deslocar da origem para o destino.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplina">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da disciplina, por exemplo, "Análise de Algoritmos".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credTeoricos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos teóricos da disciplina. No TRIEDA, 1 crédito equivale a 1 horário aula (ItemHorarioAula). Para maiores informações leia a seção "Créditos teóricos e créditos práticos por Disciplina" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credPraticos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos práticos da disciplina. No TRIEDA, 1 crédito equivale a 1 horário aula (ItemHorarioAula). Para maiores informações leia a seção "Créditos teóricos e créditos práticos por Disciplina" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="laboratorio" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indica se os créditos práticos da disciplina em questão deverão ou não ser dados em salas do tipo laboratório (ver campo tipoSalaId de ItemSala). Para maiores informações leia a seção "Créditos teóricos e créditos práticos por Disciplina" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxAlunosTeorico" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de alunos de uma turma para a versão teórica da disciplina em questão. Para maiores informações leia a seção "Créditos teóricos e créditos práticos por Disciplina" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxAlunosPratico" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de alunos de uma turma para a versão prática da disciplina em questão. Para maiores informações leia a seção "Créditos teóricos e créditos práticos por Disciplina" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoDisciplinaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo da disciplina em questão. Atualmente, os possíveis valores são: 1-Presencial, 2-Telepresencial, 3-Online. Para maiores informações leia a seção "Disciplina Telepresencial" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nivelDificuldadeId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o nível de dificuldade da disciplina em questão. Atualmente, os possíveis valores são: 1-baixo, 2-médio, 3-alto. Para maiores informações leia a seção "Evitar Disciplina com determinado Nível de Dificuldade em determinados Horários de Aula" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="horariosDisponiveis" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis em que a disciplina em questão pode ser oferecida.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasEquivalentes" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que são equivalentes à disciplina em questão. Para maiores informações leia a seção "Equivalências entre Disciplinas" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasIncompativeis" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) não compatíveis com a disciplina em questão. Para maiores informações leia a seção "Equilibrar a diversidade de assuntos em um mesmo dia" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="divisaoDeCreditos" type="ItemDivisaoCreditos">
        <xs:annotation>
          <xs:documentation>Este campo representa a preferência pela divisão do total de créditos (teóricos + práticos) da disciplina ao longo do dias da semana letiva. Para maiores informações leia a seção "Regras de Divisão de Créditos" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoDisciplina">
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador de um tipo de disciplina. Atualmente, os possíveis valores são: 1-Presencial, 2-Telepresencial, 3-Online.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de disciplina. Atualmente, os possíveis valores são: Presencial, Telepresencial, Online.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDivisaoCreditos">
    <xs:sequence>
      <xs:element name="creditos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos que serão divididos ao longo dos dias de uma semana letiva. Para maiores informações leia a seção "Regras de Divisão de Créditos" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia1" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia2" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia3" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia4" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia5" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia6" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia7" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAreaTitulacao">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de uma área de titulação.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da área de titulação, por exemplo, "Computação Gráfica".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoTitulacao">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de um tipo de titulação. Atualmente, os possíveis valores são: 1-Licenciado, 2-Bacharel, 3-Especialista, 4-Mestre, 5-Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de titulação. Atualmente, os possíveis valores são: Licenciado, Bacharel, Especialista, Mestre, Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPercentualMinimo">
    <xs:sequence>
      <xs:element name="percMinimo" type="xs:double">
        <xs:annotation>
          <xs:documentation>Valor numérico entre 0 e 100 que determina o percentual mínimo de professores de uma determinada titulação (veja campo tipoTitulacaoId) que um determinado curso deve possuir.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoTitulacaoId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo de titulação que estará associado a um percentual mínimo. Atualmente, os possíveis valores são: 1-Licenciado, 2-Bacharel, 3-Especialista, 4-Mestre, 5-Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemProfessor">
    <xs:sequence>
      <xs:element name="cpf" type="xs:string">
        <xs:annotation>
          <xs:documentation>CPF do professor que será utilizado como identificador único do mesmo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do professor, por exemplo, "Fulano".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoContratoId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica do tipo de contrato do professor em questão. Atualmente as possíveis opções são: 1-Horista, 2-Integral. Para maiores informações leia a seção "Minimizar o custo docente de um curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chMin" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária mínima do professor na semana. Este campo é dado em quantidade de horários de aula (ItemHorarioAula), por exemplo, 3 (no mínimo 3 aulas na semana). Para maiores informações leia a seção "Carga horária mínima e máxima por semana de um Professor" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chMax" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária máxima do professor na semana. Este campo é dado em quantidade de horários de aula (ItemHorarioAula), por exemplo, 12 (no máximo 12 aulas na semana). Para maiores informações leia a seção "Carga horária mínima e máxima por semana de um Professor" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chAnterior" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária semanal do professor no período letivo anterior. Este campo é dado em quantidade de horários de aula (ItemHorarioAula), por exemplo, 20 (20 aulas por semana no período anterior). Para maiores informações leia a seção "Evitar redução de carga horária de Professor" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="titulacaoId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo de titulação do professor em questão. Atualmente, os possíveis valores são: 1-Licenciado, 2-Bacharel, 3-Especialista, 4-Mestre, 5-Doutor. Para maiores informações leia a seção "Percentual mínimo de mestres e doutores por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="areaTitulacaoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da área de titulação (ItemAreaTitulacao) do professor em questão. Para maiores informações leia a seção "Considerar Áreas de Titulação" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valorCredito" type="xs:double">
        <xs:annotation>
          <xs:documentation>Valor (em reais) do crédito pago ao professor em questão. Para maiores informações leia a seção "Minimizar o custo docente de um curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="horariosDisponiveis" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis do professor em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinas" type="GrupoProfessorDisciplina">
        <xs:annotation>
          <xs:documentation>Lista das disciplinas que o professor em questão é capaz de ministrar bem como suas preferências pelas disciplinas e seu desempenho nas mesmas de acordo com as avaliações dos alunos/instituição. Para maiores informações leia as seções "Maximizar a nota de avaliação do corpo docente de um curso", "Preferência para lecionar Disciplinas" e "Preferência de Disciplinas por Dia da Semana" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoContrato">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de contrato. Atualmente as possíveis opções são: 1-Horista, 2-Integral.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de contrato. Atualmente as possíveis opções são: Horista, Integral.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemProfessorDisciplina">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina (ItemDisciplina) que o professor (ItemProfessor) é capaz de ministrar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nota" type="xs:double">
        <xs:annotation>
          <xs:documentation>Nota (de 0 a 10) de desempenho do professor na disciplina em questão. Para maiores informações leia a seção "Maximizar a nota de avaliação do corpo docente de um curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preferencia" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que indica a preferência que o professor tem por ministrar a disciplina (veja disciplinaId) em questão. Os valores variam de 1 a 10 de forma que 1 = Maior preferência e 10 = Menor preferência. Para maiores informações leia as seções "Preferência para lecionar Disciplinas" e "Preferência de Disciplinas por Dia da Semana" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoCurso">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de curso, por exemplo; "graduação", "mestrado", "doutorado", "especialização", etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurso">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do curso, por exemplo, "Ciência da Computação".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador para o tipo do curso (por exemplo: graduação, mestrado, doutorado) em questão. Para maiores informações leia a seção "Permitir compartilhamento de turmas entre cursos diferentes" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regraPercMinMestres" type="ItemPercentualMinimo">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo de mestres para o curso em questão. Para maiores detalhes veja a seção "Percentual mínimo de mestres e doutores por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regraPercMinDoutores" type="ItemPercentualMinimo">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo de doutores para o curso em questão. Para maiores detalhes veja a seção "Percentual mínimo de mestres e doutores por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qtdMaxDiscProf" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de disciplinas que um professor pode ministrar no curso em questão. Para maiores detalhes leia a seção "Máximo de Disciplinas ministradas por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maisDeUmaDiscPeriodo" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Informa se um professor pode ou não ministrar mais de uma disciplina por período no curso em questão. Para maiores detalhes leia a seção "Controle da quantidade de disciplinas por período letivo" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="areasTitulacao" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das áreas de titulação associadas ao curso em questão. Uma área de titulação também terá um vínculo com professores. Para maiores informações leia a seção "Considerar Áreas de Titulação" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="curriculos" type="GrupoCurriculo">
        <xs:annotation>
          <xs:documentation>Lista das matrizes curriculares do curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNivelDificuldade">
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador de um nível de dificuldade. Atualmente, os possíveis valores são: 1-baixo, 2-médio, 3-alto.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome de um nível de dificuldade. Atualmente, os possíveis valores são: baixo, médio, alto.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurriculo">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descricao" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descrição da matriz curricular, por exemplo, "Matriz padrão para Ciência da Computação".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodos" type="GrupoPeriodoCurriculo">
        <xs:annotation>
          <xs:documentation>Lista com os períodos que definem a matriz curricular com as disciplinas oferecidas em cada período.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPeriodoCurriculo">
    <xs:sequence>
      <xs:element name="periodo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Número que identifica o período de um curso, por exemplo, 4 (quarto período).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinas" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que serão oferecidas num determinado período (ver campo periodo) de uma determinada matriz curricular (ItemCurriculo) de um curso (ItemCurso).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCampus">
    <xs:sequence>
      <xs:element name="campusId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do campus (ItemCmapus) onde cursos serão oferecidos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasTurnos" type="GrupoOfertaTurno">
        <xs:annotation>
          <xs:documentation>Lista das ofertas, organizadas por turnos, dos cursos que serão oferecidos no campus (veja campusId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaTurno">
    <xs:sequence>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do turno (ItemTurno) onde cursos serão oferecidos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasCursos" type="GrupoOfertaCurso">
        <xs:annotation>
          <xs:documentation>Lista das ofertas, organizadas por matrizes curriculares, dos cursos que serão oferecidos no turno (veja turnoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCurso">
    <xs:sequence>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do curso (ItemCurso) que será oferecido em algum turno de algum campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasCurriculos" type="GrupoOfertaCurriculo">
        <xs:annotation>
          <xs:documentation>Lista das ofertas das matrizes curriculares que serão oferecidas no curso (veja cursoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCurriculo">
    <xs:sequence>
      <xs:element name="curriculoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da matriz curricular (ItemCurriculo) de um curso (ItemCurso) que será oferecida em algum turno de algum campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="demandas" type="GrupoDemanda">
        <xs:annotation>
          <xs:documentation>Lista com as demandas por disciplina da matriz curricular (veja curriculoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDemanda">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina (ItemDisciplina).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantidade" type="xs:int">
        <xs:annotation>
          <xs:documentation>Previsão da quantidade de alunos que irá cursar a disciplina (veja disciplinaId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTurno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="turno" type="ItemTurno">
        <xs:annotation>
          <xs:documentation>Representa a definição de um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoSemanaLetiva">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="semanaLetiva" type="ItemSemanaLetiva">
        <xs:annotation>
          <xs:documentation>Representa uma semana letiva, isto é, a maneira pela qual uma semana de um semestre (trimestre, bimestre, ...) está organizada em termos de turnos e horários de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDiaSemana">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="diaSemana" type="xs:int">
        <xs:annotation>
          <xs:documentation>Um inteiro que representa um dia da semana. Os valores possíveis são: (1 - Dom), (2 - Seg), (3 - Ter), (4 - Qua), (5 - Qui), (6 - Sex), (7 - Sab)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoHorarioAula">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="horarioAula" type="ItemHorarioAula">
        <xs:annotation>
          <xs:documentation>Representa um horário de aula que será associado a um turno de uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTurnoHorarios">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="turnoHorarios" type="ItemTurnoHorarios">
        <xs:annotation>
          <xs:documentation>Representa a definição do relacionamento entre um turno e uma lista de horários de aula. Este relacionamento é utilizado na definição das semanas letivas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="campus" type="ItemCampus">
        <xs:annotation>
          <xs:documentation>Representa a definição de um campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoUnidade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="unidade" type="ItemUnidade">
        <xs:annotation>
          <xs:documentation>Representa a definição de uma unidade (ou prédio).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoSala">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="sala" type="ItemSala">
        <xs:annotation>
          <xs:documentation>Representa uma sala de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoSala">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoSala" type="ItemTipoSala">
        <xs:annotation>
          <xs:documentation>Representa um tipo de sala de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoGrupoSala">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="grupoSala" type="ItemGrupoSala">
        <xs:annotation>
          <xs:documentation>Representa um grupo de salas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDeslocamento">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="deslocamento" type="ItemDeslocamento">
        <xs:annotation>
          <xs:documentation>Representa um possível deslocamento entre duas entidades (ou duas unidades ou dois campi) com informações a respeito do tempo de deslocamento e do custo de deslocamento.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisponibilidade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disponibilidade" type="ItemDisponibilidade">
        <xs:annotation>
          <xs:documentation>Entidade que representa instantes de tempo disponíveis, por exemplo, segunda-feira (diaSemana) das 8:00 às 8:50 (horarioAulaId) no turno da manhã (turnoId) da semana letiva padrão (semanaLetivaId). Tal instante de tempo disponível será utilizado para definir as disponibilidades de entidades como professor, sala, unidade, campus e disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoCurso" type="ItemTipoCurso">
        <xs:annotation>
          <xs:documentation>Representa um tipo de curso, por exemplo: graduação, mestrado, doutorado. Para maiores informações leia a seção "Permitir compartilhamento de turmas entre cursos diferentes" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAreaTitulacao">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="areaTitulacao" type="ItemAreaTitulacao">
        <xs:annotation>
          <xs:documentation>Representa uma área de titulação, por exemplo: computação gráfica. Uma área de titulação terá vínculo com cursos e professores. Para maiores informações leia a seção "Considerar Áreas de Titulação" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoTitulacao">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoTitulacao" type="ItemTipoTitulacao">
        <xs:annotation>
          <xs:documentation>Representa um tipo de titulação. Para maiores informações leia a seção "Percentual mínimo de mestres e doutores por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoProfessor">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="professor" type="ItemProfessor">
        <xs:annotation>
          <xs:documentation>Representa um professor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoContrato">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoContrato" type="ItemTipoContrato">
        <xs:annotation>
          <xs:documentation>Representa um tipo de contrato entre um professor e uma instituição. Para maiores informações leia a seção "Maximizar a nota de avaliação do corpo docente de um curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoProfessorDisciplina">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="professorDisciplina" type="ItemProfessorDisciplina">
        <xs:annotation>
          <xs:documentation>Representa um relacionamento entre um professor (ItemProfessor) e uma disciplina (ItemDisciplina). A existência de um relacionamento deste tipo indica que o professor é capaz de ministrar a disciplina em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="curso" type="ItemCurso">
        <xs:annotation>
          <xs:documentation>Representação de um curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoDisciplina">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoDisciplina" type="ItemTipoDisciplina">
        <xs:annotation>
          <xs:documentation>Representa um tipo de disciplina. Para maiores informações leia a seção "Disciplina Telepresencial" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoNivelDificuldade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="nivelDificuldade" type="ItemNivelDificuldade">
        <xs:annotation>
          <xs:documentation>Representa um nível de dificuldade. Para maiores informações leia a seção "Evitar Disciplina com determinado Nível de Dificuldade em determinados Horários de Aula" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="curriculo" type="ItemCurriculo">
        <xs:annotation>
          <xs:documentation>Representação de uma matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoPeriodoCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="periodo" type="ItemPeriodoCurriculo">
        <xs:annotation>
          <xs:documentation>Representa o relacionamento entre um período de um curso e as disciplinas do mesmo, isto é, que disciplinas do curso serão oferecidas no período em questão de acordo definindo dessa forma parte da matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCampus" type="ItemOfertaCampus">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de cursos em um campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaTurno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaTurno" type="ItemOfertaTurno">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de cursos em um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCurso" type="ItemOfertaCurso">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de um curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCurriculo" type="ItemOfertaCurriculo">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de uma matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDemanda">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="demanda" type="ItemDemanda">
        <xs:annotation>
          <xs:documentation>Representa uma previsão de demanda para uma disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDivisaoCreditos">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="divisaoCreditos" type="ItemDivisaoCreditos">
        <xs:annotation>
          <xs:documentation>Representa uma regra de divisão de créditos. Para maiores informações leia a seção "Regras de Divisão de Créditos" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplina">
    <xs:annotation>
      <xs:documentation>caso seja necessário, esta informação representará a preferência de divisão de crédito desta disciplina</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplina" type="ItemDisciplina">
        <xs:annotation>
          <xs:documentation>Representa uma disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoIdentificador">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Representa o identificador de alguma entidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoGrupo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="grupo" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Representa um grupo de identificadores.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>