doc/common/communication_protocol_integracao/IEStoTRIEDA_dados.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IEStoTRIEDA_dados">
    <xs:annotation>
      <xs:documentation>Este documento representa parte do protocolo de comunicação entre o Sistema Educacional da Instituição de Ensino (IES) e o TRIEDA. A sequência lógica de comunicação é a seguinte:
1). Trieda solicita para Sistema Educacional da Instituição de Ensino (IES) os dados gerais, isto é, dados que costumam variar muito pouco de um semestre letivo para o outro, por exemplo; campi, unidades, salas, ....
2). Sistema Educacional da Instituição de Ensino (IES) responde para o Trieda os dados gerais
3). Trieda solicita para Sistema Educacional da Instituição de Ensino (IES) os dados de ofertas e demandas, isto é, dados que variam de um semestre letivo para o outro
4). Sistema Educacional da Instituição de Ensino (IES) responde para o Trieda os dados de ofertas e demandas
5). Trieda envia para Sistema Educacional da Instituição de Ensino (IES) as turmas criadas com as respectivas aulas (grades horárias)

Este XSD define o protocolo de comunicação utilizado nos passos 2 e 4.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dadosGerais" type="ItemDadosGerais" />
        <xs:element minOccurs="0" name="ofertasDemandas" type="ItemOfertasDemandas" />
        <xs:element minOccurs="0" name="alertas" type="ItemMensagens" />
        <xs:element minOccurs="0" name="erros" type="ItemMensagens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemAluno">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="matricula" type="xs:string">
        <xs:annotation>
          <xs:documentation>Matrícula do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="formando" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indica se o aluno é ou não formando.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do curso ao qual o aluno em questão pertence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Indica o período atual em que o aluno se encontra no curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAlunoDisciplinasCursadas">
    <xs:sequence>
      <xs:element name="alunoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="matricula" type="xs:string">
        <xs:annotation>
          <xs:documentation>Matrícula do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gruposDisciplinasCursadas" type="GrupoDisciplinasCursadas">
        <xs:annotation>
          <xs:documentation>Conjuntos de disciplinas cursadas pelos alunos.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAmbiente">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do ambiente (sala de aula ou laboratório).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unidadeId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da unidade na qual o ambiente em questão está localizado.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numero" type="xs:string">
        <xs:annotation>
          <xs:documentation>Número do ambiente (sala de aula ou laboratório), por exemplo, "1001".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="andar" type="xs:string">
        <xs:annotation>
          <xs:documentation>Andar no prédio (unidade) em que o ambiente (sala de aula ou laboratório) está localizado, por exemplo: "1", "Subsolo".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoAmbienteId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo do ambiente (sala de aula ou laboratório). Pode ser uma das duas opções: 1-Sala de Aula, 2-Laboratório.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="capacidadeInstalada" type="xs:int">
        <xs:annotation>
          <xs:documentation>Capacidade instalada em quantidade de alunos que o ambiente (sala de aula ou laboratório) em questão comporta, por exemplo, 30.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="capacidadeMaxima" type="xs:int">
        <xs:annotation>
          <xs:documentation>Capacidade máxima em quantidade de alunos que o ambiente (sala de aula ou laboratório) em questão comporta, por exemplo, 30.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disponibilidades" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários e dias das semana disponíveis em que o ambiente (sala de aula ou laboratório) em questão pode operar. Atenção: os ambientes herdam as informações de indisponibilidades da sua unidade de modo que se a unidade não está disponível segunda-feira das 08:00 às 12:00, então, todos os ambientes desta unidade também estarão indisponíveis segunda-feira das 08:00 às 12:00.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCampus">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do campus, por exemplo, "Campus Barra da Tijuca".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="custoMedioDocentePorCredito" type="xs:double">
        <xs:annotation>
          <xs:documentation>Valor (em reais) que a instituição de ensino paga, em média, no campus em questão para um 1 crédito (ou 1 tempo de aula) ministrado por um docente.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="estado" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sigla do estado (ou unidade federativa) onde o campus está localizado, por exemplo, "MG".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cidade" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da cidade onde o campus está localizado, por exemplo, "Belo Horizonte".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bairro" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do bairro onde o campus está localizado, por exemplo, "Savassi".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disponibilidades" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários e dias das semana disponíveis em que o campus em questão pode operar.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurriculo">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descricao" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descrição da matriz curricular, por exemplo, "Matriz padrão para Ciência da Computação".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="semanaLetivaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da semana letiva que determinará:
 - a duração de um tempo de aula de qualquer disciplina deste currículo em questão;
 - os dias da semana e horários em que poderão ser oferecidas aulas das disciplinas deste currículo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodosDisciplinas" type="GrupoCurriculoPeriodo">
        <xs:annotation>
          <xs:documentation>Lista com os períodos que definem a matriz curricular com as disciplinas oferecidas em cada período.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurriculoPeriodo">
    <xs:sequence>
      <xs:element name="periodo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Número que identifica o período de um curso, por exemplo, 4 (quarto período).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinas" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que serão oferecidas num determinado período (ver campo periodo) de uma determinada matriz curricular (ItemCurriculo) de um curso (ItemCurso).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurriculoRequisitos">
    <xs:sequence>
      <xs:element name="curriculoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodosRequisitos" type="GrupoPeriodoRequisitos">
        <xs:annotation>
          <xs:documentation>Lista com os períodos que definem a matriz curricular com as disciplinas oferecidas em cada período.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCurso">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do curso, por exemplo, "Ciência da Computação".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador para o tipo do curso (por exemplo: graduação, mestrado, doutorado) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="percMinDoutores" type="xs:double">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo de doutores para o curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="percMinMestresDoutores" type="xs:double">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo de mestres + doutores para o curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="percMinTempoIntegral" type="xs:double">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo de professores com tipo de contratação "Tempo Integral" + professores com tipo de contratação "Tempo Parcial" para o curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="percMinTempoIntegralParcial" type="xs:double">
        <xs:annotation>
          <xs:documentation>Regra que determina o percentual mínimo professores com tipo de contratação "Tempo Integral" para o curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qtdMaxDiscProf" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de disciplinas que um professor pode ministrar no curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maisDeUmaDiscPeriodo" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Informa se um professor pode ou não ministrar mais de uma disciplina por período no curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDadosGerais">
    <xs:sequence>
      <xs:element name="turnos" type="GrupoTurno">
        <xs:annotation>
          <xs:documentation>Lista com as informações dos turnos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="semanasLetivas" type="GrupoSemanaLetiva">
        <xs:annotation>
          <xs:documentation>Lista com as informações das semanas letivas (ou grupos de horários) que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="campi" type="GrupoCampus">
        <xs:annotation>
          <xs:documentation>Lista com as informações dos campi que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deslocamentosCampi" type="GrupoDeslocamento">
        <xs:annotation>
          <xs:documentation>Lista com as informações dos possíveis deslocamentos entre campi que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unidades" type="GrupoUnidade">
        <xs:annotation>
          <xs:documentation>Lista das unidades (prédios) que fazem parte da instituição de ensino em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deslocamentosUnidades" type="GrupoDeslocamento">
        <xs:annotation>
          <xs:documentation>Lista com as informações dos possíveis deslocamentos entre unidades que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ambientes" type="GrupoAmbiente">
        <xs:annotation>
          <xs:documentation>Lista dos ambientes (salas de aula e laboratórios) que fazem parte da instituição de ensino em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gruposAmbientes" type="GrupoGrupoAmbiente">
        <xs:annotation>
          <xs:documentation>Lista com os grupos de ambientes (ou blocos) de uma dada unidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regrasGeraisDivisaoCreditos" type="GrupoDivisaoCreditos">
        <xs:annotation>
          <xs:documentation>Lista com as regras de divisão de créditos que serão armazenadas no MasterData do TRIEDA. Disciplinas que não possuem regra específica para divisão de créditos (ver campo divisaoDeCreditos em ItemDisciplina) irão utilizar como padrão as regras aqui listadas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinas" type="GrupoDisciplina">
        <xs:annotation>
          <xs:documentation>Lista com as disciplinas que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasAmbientes" type="GrupoDisciplinaAmbiente">
        <xs:annotation>
          <xs:documentation>Lista das relações válidas do tipo (disciplina, ambiente).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasGruposAmbientes" type="GrupoDisciplinaGrupoAmbiente">
        <xs:annotation>
          <xs:documentation>Lista das relações válidas do tipo (disciplina, ambiente).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasEquivalentes" type="GrupoEquivalencia">
        <xs:annotation>
          <xs:documentation>Lista as relações de equivalências entre disciplinas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tiposCurso" type="GrupoTipoCurso">
        <xs:annotation>
          <xs:documentation>Lista com os tipos de cursos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cursos" type="GrupoCurso">
        <xs:annotation>
          <xs:documentation>Lista com os cursos que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="curriculos" type="GrupoCurriculo">
        <xs:annotation>
          <xs:documentation>Lista das matrizes curriculares que fazem parte da instituição de ensino em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="curriculosPreRequistos" type="GrupoCurriculoRequisitos">
        <xs:annotation>
          <xs:documentation>Contempla as relações do tipo pré-requisitos por matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="curriculosCoRequistos" type="GrupoCurriculoRequisitos">
        <xs:annotation>
          <xs:documentation>Contempla as relações do tipo corequisitos por matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professores" type="GrupoProfessor">
        <xs:annotation>
          <xs:documentation>Lista com os professores que serão armazenados no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professoresDisciplinas" type="GrupoProfessorDisciplina">
        <xs:annotation>
          <xs:documentation>Lista das disciplinas que o professor em questão é capaz de ministrar bem como suas preferências pelas disciplinas e seu desempenho nas mesmas de acordo com as avaliações dos alunos/instituição.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professoresCampi" type="GrupoProfessorCampus">
        <xs:annotation>
          <xs:documentation>Lista das relações válidas entre professor e campus de trabalho.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDeslocamento">
    <xs:sequence>
      <xs:element name="origemId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da entidade de origem que pode ser um campus (ItemCampus) ou uma unidade (ItemUnidade).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destinoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da entidade de destino que pode ser um campus (ItemCampus) ou uma unidade (ItemUnidade).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tempo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Tempo (em minutos) para se deslocar da origem para o destino.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="custo" type="xs:double">
        <xs:annotation>
          <xs:documentation>Custo (em reais R$) para se deslocar da origem para o destino.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplina">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da disciplina, por exemplo, "Análise de Algoritmos".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credTeoricos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos semanais presenciais teóricos da disciplina. No TRIEDA, 1 crédito equivale a 1 tempo de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credPraticos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos semanais presenciais práticos da disciplina. No TRIEDA, 1 crédito equivale a 1 tempo de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exigeLaboratorio" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indica se os créditos práticos da disciplina em questão deverão ou não serem ministratos em ambientes do tipo laboratório (ver campo tipoAmbienteId de ItemAmbiente).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoDisciplinaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo da disciplina em questão. Atualmente, os possíveis valores são: 1-Presencial, 2-Não Presencial.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxAlunosTeorico" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de alunos de uma turma para uma aula teórica da disciplina em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxAlunosPratico" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade máxima de alunos de uma turma para uma aula prática da disciplina em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="usaSabado" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Informa se a disciplina em questão permite aulas aos sábados.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="usaDomingo" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Informa se a disciplina em questão permite aulas aos domingos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="aulasContinuas" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Caso a disciplina em questão tenha créditos teóricos e créditos práticos e a mesma exija uso de laboratório para os créditos práticos, então, significa que esta disciplina será quebrada em, pelo menos, duas aulas (uma teórica e outra prática). Nestes casos, se este atributo tiver o valor True, então, preferencialmente, as aulas criadas para esta disciplina deverão ser alocadas de maneira contínua, isto é, uma após a outra.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professorUnico" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Caso a disciplina em questão tenha créditos teóricos e créditos práticos e a mesma exija uso de laboratório para os créditos práticos, então, significa que esta disciplina será quebrada em, pelo menos, duas aulas (uma teórica e outra prática). Nestes casos, se este atributo tiver o valor True, então, preferencialmente, as aulas criadas para esta disciplina deverão ser ministradas pelo mesmo professor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disponibilidades" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis em que a disciplina em questão pode ser oferecida.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="divisaoDeCreditos" type="ItemDivisaoCreditos">
        <xs:annotation>
          <xs:documentation>Este campo representa a preferência pela divisão do total de créditos (teóricos + práticos) da disciplina ao longo do dias da semana.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplinaAmbiente">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ambienteId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do ambiente no qual uma ou mais aulas da disciplina podem ser ministradas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplinaGrupoAmbiente">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="grupoAmbienteId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do grupo de ambientes nos quais uma ou mais aulas da disciplina podem ser ministradas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplinaRequisitos">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requisitos" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que têm uma relação de requisito (seja pré ou co) com a disciplina da tag disciplinaId.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisciplinasCursadas">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>Disciplinas cursadas, organizadas por período, de um dado currículo de um dado curso.</xs:documentation>
      </xs:annotation>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="curriculoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do currículo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="periodosDisciplinas" type="GrupoCurriculoPeriodo">
        <xs:annotation>
          <xs:documentation>Nome do aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDisponibilidade">
    <xs:sequence>
      <xs:element name="horarioInicio" type="xs:string">
        <xs:annotation>
          <xs:documentation>Horário de início no formato HH:MM, por exemplo, 13:00.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horarioFim" type="xs:string">
        <xs:annotation>
          <xs:documentation>Horário de término no formato HH:MM, por exemplo, 13:00.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diasSemana" type="GrupoDiaSemana">
        <xs:annotation>
          <xs:documentation>Lista de inteiros que representam os dias da semana com disponibilidade no intervalo de horários (horário início e horário fim) especificado.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDivisaoCreditos">
    <xs:sequence>
      <xs:element name="creditos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de créditos que serão divididos ao longo dos dias de uma semana.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia1" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia2" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia3" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia4" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia5" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia6" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dia7" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos que serão, preferencialmente, oferecidos neste dia.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemDemanda">
    <xs:sequence>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina (ItemDisciplina).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alunos" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista dos IDs dos alunos que irá cursar a disciplina (veja disciplinaId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemEquivalencia">
    <xs:sequence>
      <xs:element name="disciplinaIdCursou" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina substituta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinaIdElimina" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina substituída.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do curso caso a regra de equivalência (cursou, elimina) seja válida apenas para o curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemGrupoAmbiente">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do grupo de ambientes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unidadeId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da unidade na qual os ambientes do grupo em questão estão localizados.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ambientes" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Lista com os identificadores dos ambientes que fazem parte do grupo de ambientes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemHorarioDiasSemana">
    <xs:sequence>
      <xs:element name="horarioInicio" type="xs:string">
        <xs:annotation>
          <xs:documentation>Horário de início no formato HH:MM, por exemplo, 13:00. O horário final não precisa ser informado pois pode ser calculado a partir do horário de início e da duração do tempo de aula (atributo duracaoTempoAula do ItemSemanaLetiva) para a semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diasSemana" type="GrupoDiaSemana">
        <xs:annotation>
          <xs:documentation>Lista dos dias da semana (seg, ter, qua, ...) em que este horário de aula é oferecido dentro de um turno de uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemMensagens">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="msg" type="xs:string">
        <xs:annotation>
          <xs:documentation>mensagem</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCampus">
    <xs:sequence>
      <xs:element name="campusId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do campus (ItemCmapus) onde cursos serão oferecidos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasTurnos" type="GrupoOfertaTurno">
        <xs:annotation>
          <xs:documentation>Lista das ofertas, organizadas por turnos, dos cursos que serão oferecidos no campus (veja campusId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCurriculo">
    <xs:sequence>
      <xs:element name="curriculoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da matriz curricular (ItemCurriculo) de um curso (ItemCurso) que será oferecida em algum turno de algum campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="receita" type="xs:double">
        <xs:annotation>
          <xs:documentation>Valor (em reais) que representa a receita semanal por 1 crédito (1 tempo de aula) por aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="demandas" type="GrupoDemanda">
        <xs:annotation>
          <xs:documentation>Lista com as demandas por disciplina da matriz curricular (veja curriculoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaCurso">
    <xs:sequence>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do curso (ItemCurso) que será oferecido em algum turno de algum campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasCurriculos" type="GrupoOfertaCurriculo">
        <xs:annotation>
          <xs:documentation>Lista das ofertas das matrizes curriculares que serão oferecidas no curso (veja cursoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertasDemandas">
    <xs:sequence>
      <xs:element name="alunos" type="GrupoAluno">
        <xs:annotation>
          <xs:documentation>Lista com as informações dos alunos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alunosDisciplinasCursadas" type="GrupoAlunoDisciplinasCursadas">
        <xs:annotation>
          <xs:documentation>Lista com as informações das disciplinas já cursadas pelos alunos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasCampiPrimaria" type="GrupoOfertaCampus">
        <xs:annotation>
          <xs:documentation>Lista das ofertas de cursos em campi, com as respectivas demandas (alunos) por disciplina, que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ofertasCampiSecundaria" type="GrupoOfertaCampus">
        <xs:annotation>
          <xs:documentation>Lista das ofertas de cursos em campi, com as respectivas demandas por disciplina, que serão armazenadas no MasterData do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOfertaTurno">
    <xs:sequence>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do turno (ItemTurno) onde cursos serão oferecidos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ofertasCursos" type="GrupoOfertaCurso">
        <xs:annotation>
          <xs:documentation>Lista das ofertas, organizadas por matrizes curriculares, dos cursos que serão oferecidos no turno (veja turnoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemPeriodoRequisitos">
    <xs:sequence>
      <xs:element name="periodo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Número que identifica o período de um curso, por exemplo, 4 (quarto período).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinasRequisitos" type="GrupoDisciplinaRequisitos">
        <xs:annotation>
          <xs:documentation>Lista dos identificadores das disciplinas (ItemDisciplina) que serão oferecidas num determinado período (ver campo periodo) de uma determinada matriz curricular (ItemCurriculo) de um curso (ItemCurso).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemProfessor">
    <xs:sequence>
      <xs:element name="cpf" type="xs:string">
        <xs:annotation>
          <xs:documentation>CPF do professor que será utilizado como identificador único do mesmo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do professor, por exemplo, "Fulano".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoContratoId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica do tipo de contrato do professor em questão. Atualmente as possíveis opções são: 1-Parcial, 2-Integral.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chMin" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária mínima do professor na semana. Este campo é dado em quantidade de tempos de aula (ou créditos), por exemplo, 3 (no mínimo 3 tempos de aula na semana).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chMax" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária máxima do professor na semana. Este campo é dado em quantidade de tempos de aula (ou créditos), por exemplo, 12 (no máximo 12 tempos de aula na semana).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chAnterior" type="xs:int">
        <xs:annotation>
          <xs:documentation>Carga horária semanal do professor no período letivo anterior.  Este campo é dado em quantidade de tempos de aula (ou créditos), por exemplo, 20 (20 tempos de aula por semana no período anterior).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="titulacaoId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica o tipo de titulação do professor em questão. Atualmente, os possíveis valores são: 1-Licenciado, 2-Bacharel, 3-Especialista, 4-Mestre, 5-Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="custoCredito" type="xs:double">
        <xs:annotation>
          <xs:documentation>Valor (em reais) do crédito pago (ou 1 tempo de aula pago) ao professor em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxDiasSemana" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade máxima de dias por semana que o professor está disposto a ir na instituição para ministrar aulas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minCreditosDiarios" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade mínima de créditos (ou tempos de aula) por dia que o professor aceita para ir na instituição para ministrar aulas.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disponibilidades" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários disponíveis do professor em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemProfessorCampus">
    <xs:sequence>
      <xs:element name="professorCpf" type="xs:string">
        <xs:annotation>
          <xs:documentation>CPF do professor (ItemProfessor).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="campusId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do campus (ItemCampus) no qual o professor (ItemProfessor) é pode ministrar aulas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemProfessorDisciplina">
    <xs:sequence>
      <xs:element name="professorCpf" type="xs:string">
        <xs:annotation>
          <xs:documentation>CPF do professor (ItemProfessor).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina (ItemDisciplina) que o professor (ItemProfessor) é capaz de ministrar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nota" type="xs:double">
        <xs:annotation>
          <xs:documentation>Nota (de 0 a 10) de desempenho do professor na disciplina em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preferencia" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que indica a preferência que o professor tem por ministrar a disciplina (veja disciplinaId) em questão. Os valores variam de 1 a 10 de forma que 1 = Maior preferência e 10 = Menor preferência.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemSemanaLetiva">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da entidade que representa uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descricao" type="xs:string">
        <xs:annotation>
          <xs:documentation>Descrição da semana letiva, por exemplo, "semana letiva padrão", "semana letiva com tempos de aula de 50 minutos".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duracaoTempoAula" type="xs:int">
        <xs:annotation>
          <xs:documentation>Duração de 1 tempo de aula (em minutos), por exemplo, 50 minutos. Em instituições de ensino que trabalham com o conceito de créditos, para o Trieda, 1 tempo de aula equivale a 1 crédito. Logo, </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="turnosHorariosDiasSemana" type="GrupoTurnoHorariosDiasSemanas">
        <xs:annotation>
          <xs:documentation>A lista dos turnos com seus respectivos horários de aula e dias da semana que definem a semana letiva em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoContrato">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de contrato. Atualmente as possíveis opções são: 1-Horista, 2-Integral.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de contrato. Atualmente as possíveis opções são: Horista, Integral.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoCurso">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de curso, por exemplo; "graduação", "mestrado", "doutorado", "especialização", etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoDisciplina">
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador de um tipo de disciplina. Atualmente, os possíveis valores são: 1-Presencial, 2-Telepresencial, 3-Online.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de disciplina. Atualmente, os possíveis valores são: Presencial, Telepresencial, Online.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoSala">
    <xs:sequence>
      <xs:element name="id" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador único do tipo de sala. As opções atualmente são: 1-Sala de Aula, 2-Laboratório, 3-Auditório.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de sala. As opções atualmente são: "Sala de Aula", "Laboratório", "Auditório".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTipoTitulacao">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de um tipo de titulação. Atualmente, os possíveis valores são: 1-Licenciado, 2-Bacharel, 3-Especialista, 4-Mestre, 5-Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do tipo de titulação. Atualmente, os possíveis valores são: Licenciado, Bacharel, Especialista, Mestre, Doutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTurno">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome do turno, por exemplo, "Manhã".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTurnoHorariosDiasSemana">
    <xs:sequence>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único de um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horariosDiasSemana" type="GrupoHorarioDiasSemana">
        <xs:annotation>
          <xs:documentation>Lista dos horários de aula e dias da semana que serão oferecidos no turno (veja campo turnoId) em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemUnidade">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único da unidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="campusId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador único do campus ao qual a unidade em questão pertence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nome" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nome da unidade, por exemplo, "Unidade Frings".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="disponibilidades" type="GrupoDisponibilidade">
        <xs:annotation>
          <xs:documentation>Lista com os horários e dias das semana disponíveis em que a unidade em questão pode operar. Atenção: as unidades herdam as informações de indisponibilidades do seu campus de modo que se o campus não está disponível segunda-feira das 08:00 às 12:00, então, todas as unidades deste campus também estarão indisponíveis segunda-feira das 08:00 às 12:00.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAluno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="aluno" type="ItemAluno">
        <xs:annotation>
          <xs:documentation>Representa um aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAlunoDisciplinasCursadas">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="alunoDisciplinasCursadas" type="ItemAlunoDisciplinasCursadas">
        <xs:annotation>
          <xs:documentation>Representa as disciplinas cursadas para um dado aluno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAmbiente">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ambiente" type="ItemAmbiente">
        <xs:annotation>
          <xs:documentation>Representa um ambiente (isto é, uma sala de aula ou laboratório).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="campus" type="ItemCampus">
        <xs:annotation>
          <xs:documentation>Representa a definição de um campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="curriculo" type="ItemCurriculo">
        <xs:annotation>
          <xs:documentation>Representação de uma matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurriculoPeriodo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="periodoDisciplinas" type="ItemCurriculoPeriodo">
        <xs:annotation>
          <xs:documentation>Representa o relacionamento entre um período de um curso e as disciplinas do mesmo, isto é, que disciplinas do curso serão oferecidas no período em questão, definindo dessa forma parte da matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurriculoRequisitos">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="curriculoRequisitos" type="ItemCurriculoRequisitos">
        <xs:annotation>
          <xs:documentation>Contempla as relações do tipo pré-requisitos e corequisitos para uma dada matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="curso" type="ItemCurso">
        <xs:annotation>
          <xs:documentation>Representação de um curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDemanda">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="demanda" type="ItemDemanda">
        <xs:annotation>
          <xs:documentation>Representa uma previsão de demanda para uma disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDeslocamento">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="deslocamento" type="ItemDeslocamento">
        <xs:annotation>
          <xs:documentation>Representa um possível deslocamento entre duas entidades (ou duas unidades ou dois campi) com informações a respeito do tempo de deslocamento e do custo de deslocamento.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDiaSemana">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="diaSemana" type="xs:int">
        <xs:annotation>
          <xs:documentation>Um inteiro que representa um dia da semana. Os valores possíveis são: (1 - Dom), (2 - Seg), (3 - Ter), (4 - Qua), (5 - Qui), (6 - Sex), (7 - Sab)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplina">
    <xs:annotation>
      <xs:documentation>caso seja necessário, esta informação representará a preferência de divisão de crédito desta disciplina</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplina" type="ItemDisciplina">
        <xs:annotation>
          <xs:documentation>Representa uma disciplina.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplinaAmbiente">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplinaAmbiente" type="ItemDisciplinaAmbiente">
        <xs:annotation>
          <xs:documentation>Representa um relacionamento entre uma disciplina (ItemDisciplina) e um ambiente (ItemAmbiente). A existência de um relacionamento deste tipo indica que aulas da disciplina em questão podem ser ministradas no ambiente em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplinaGrupoAmbiente">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplinaGrupoAmbiente" type="ItemDisciplinaGrupoAmbiente">
        <xs:annotation>
          <xs:documentation>Representa um relacionamento entre uma disciplina (ItemDisciplina) e um grupo de ambientes (ItemGrupoAmbiente). A existência de um relacionamento deste tipo indica que aulas da disciplina em questão podem ser ministradas nos ambientes do grupo em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplinaRequisitos">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplinaRequisitos" type="ItemDisciplinaRequisitos">
        <xs:annotation>
          <xs:documentation>Representa uma relação (de pré-requisito ou corequisito) entre uma disciplina e um grupo de disciplinas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisciplinasCursadas">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disciplinasCursadas" type="ItemDisciplinasCursadas">
        <xs:annotation>
          <xs:documentation>Representa conjuntos de disciplinas cursadas organizadas por curso, currículo e período.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDisponibilidade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="disponibilidade" type="ItemDisponibilidade">
        <xs:annotation>
          <xs:documentation>Entidade que representa uma informação de disponibilidade (em termos de horários e dias da semana) para o campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoDivisaoCreditos">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="divisaoCreditos" type="ItemDivisaoCreditos">
        <xs:annotation>
          <xs:documentation>Representa uma regra de divisão de créditos.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoEquivalencia">
    <xs:annotation>
      <xs:documentation>caso seja necessário, esta informação representará a preferência de divisão de crédito desta disciplina</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="equivalencia" type="ItemEquivalencia">
        <xs:annotation>
          <xs:documentation>Representa uma regra de equivalência.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoGrupo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="grupo" type="GrupoIdentificador">
        <xs:annotation>
          <xs:documentation>Representa um grupo de identificadores.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoGrupoAmbiente">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="grupoAmbiente" type="ItemGrupoAmbiente">
        <xs:annotation>
          <xs:documentation>Representa um grupo de ambientes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoHorarioDiasSemana">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="horarioDiasSemana" type="ItemHorarioDiasSemana">
        <xs:annotation>
          <xs:documentation>Representa um horário de aula pertencente a um turno de uma semana letiva. Além disso, para este horário de aula é necessário informar os dias da semana para os quais o mesmo é válido na semana letiva em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoIdentificador">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Representa o identificador de alguma entidade.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCampus" type="ItemOfertaCampus">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de cursos em um campus.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCurriculo" type="ItemOfertaCurriculo">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de uma matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaCurso" type="ItemOfertaCurso">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de um curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoOfertaTurno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ofertaTurno" type="ItemOfertaTurno">
        <xs:annotation>
          <xs:documentation>Representa uma oferta de cursos em um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoPeriodoRequisitos">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="periodoRequisitos" type="ItemPeriodoRequisitos">
        <xs:annotation>
          <xs:documentation>Contempla as relações do tipo pré-requisito ou corequisito para um dado período de uma matriz curricular.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoProfessor">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="professor" type="ItemProfessor">
        <xs:annotation>
          <xs:documentation>Representa um professor.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoProfessorCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="professorCampus" type="ItemProfessorCampus">
        <xs:annotation>
          <xs:documentation>Representa um relacionamento entre um professor (ItemProfessor) e um campus (ItemCampus). A existência de um relacionamento deste tipo indica que o professor é capaz de ministrar aulas no campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoProfessorDisciplina">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="professorDisciplina" type="ItemProfessorDisciplina">
        <xs:annotation>
          <xs:documentation>Representa um relacionamento entre um professor (ItemProfessor) e uma disciplina (ItemDisciplina). A existência de um relacionamento deste tipo indica que o professor é capaz de ministrar a disciplina em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoSemanaLetiva">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="semanaLetiva" type="ItemSemanaLetiva">
        <xs:annotation>
          <xs:documentation>Representa uma semana letiva, isto é, a maneira pela qual uma semana de um semestre (trimestre, bimestre, ...) está organizada em termos de turnos e horários de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoContrato">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoContrato" type="ItemTipoContrato">
        <xs:annotation>
          <xs:documentation>Representa um tipo de contrato entre um professor e uma instituição. Para maiores informações leia a seção "Maximizar a nota de avaliação do corpo docente de um curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoCurso" type="ItemTipoCurso">
        <xs:annotation>
          <xs:documentation>Representa um tipo de curso, por exemplo: graduação, mestrado, doutorado.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoDisciplina">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoDisciplina" type="ItemTipoDisciplina">
        <xs:annotation>
          <xs:documentation>Representa um tipo de disciplina. Para maiores informações leia a seção "Disciplina Telepresencial" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoSala">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoSala" type="ItemTipoSala">
        <xs:annotation>
          <xs:documentation>Representa um tipo de sala de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTipoTitulacao">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tipoTitulacao" type="ItemTipoTitulacao">
        <xs:annotation>
          <xs:documentation>Representa um tipo de titulação. Para maiores informações leia a seção "Percentual mínimo de mestres e doutores por Curso" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTurno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="turno" type="ItemTurno">
        <xs:annotation>
          <xs:documentation>Representa a definição de um turno.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoTurnoHorariosDiasSemanas">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="turnoHorariosDiasSemana" type="ItemTurnoHorariosDiasSemana">
        <xs:annotation>
          <xs:documentation>Representa a definição do relacionamento entre um turno e uma lista de horários de aula e dias da semana. Este relacionamento é utilizado na definição de uma semana letiva.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoUnidade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="unidade" type="ItemUnidade">
        <xs:annotation>
          <xs:documentation>Representa a definição de uma unidade (ou prédio).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>