doc/common/communication_protocol_integracao/TRIEDA-para-TOTVS.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TriedaParaTotvs">
    <xs:annotation>
      <xs:documentation>Este documento representa o protocolo de comunicação de troca de dados do TRIEDA para o TOTVS Educacional cujo intuito é informar ao TOTVS Educacional o resultado de um planejamento para um ou mais campi (existe um outro documento que representa o protocolo de troca de dados do TOTVS Educacional para o TRIEDA).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="atendimentos" type="GrupoAtendimentoCampus">
          <xs:annotation>
            <xs:documentation>lista de todos os atendimentos realizados em cada campus que foi considerado no planejamento</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemAtendimentoCampus">
    <xs:annotation>
      <xs:documentation>Identificador do campus (ItemCampus) onde cursos serão oferecidos.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="campusId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do campus que contém informações sobre os atendimentos das demandas ocorridos no campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosUnidades" type="GrupoAtendimentoUnidade">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados em cada unidade do campus em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoUnidade">
    <xs:sequence>
      <xs:element name="unidadeId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da unidade que contém informações sobre os atendimentos das demandas ocorridos na unidade em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosSalas" type="GrupoAtendimentoSala">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados em cada sala da unidade em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoSala">
    <xs:sequence>
      <xs:element name="salaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da sala que contém informações sobre os atendimentos das demandas ocorridos na sala em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosDiasSemana" type="GrupoAtendimentoDiaSemana">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados em cada dia da semana na sala em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoDiaSemana">
    <xs:sequence>
      <xs:element name="diaSemana" type="xs:int">
        <xs:annotation>
          <xs:documentation>Identificador do dia da semana que contém informações sobre os atendimentos das demandas ocorridos em uma determinada sala. Os valores possíveis são: (1 - Dom), (2 - Seg), (3 - Ter), (4 - Qua), (5 - Qui), (6 - Sex), (7 - Sab).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosTurnos" type="GrupoAtendimentoTurno">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados em cada turno do dia da semana em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoTurno">
    <xs:sequence>
      <xs:element name="turnoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do turno que contém informações sobre os atendimentos das demandas ocorridos no mesmo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosCursos" type="GrupoAtendimentoCurso">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados para cada curso no turno em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoCurso">
    <xs:sequence>
      <xs:element name="cursoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do curso que contém informações sobre os atendimentos das demandas ocorridos no mesmo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosCurriculos" type="GrupoAtendimentoCurriculo">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados para cada matriz curricular do curso em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoCurriculo">
    <xs:sequence>
      <xs:element name="curriculoId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da matriz curricular que contém informações sobre os atendimentos das demandas da mesma.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="atendimentosPeriodosCurriculo" type="GrupoAtendimentoPeriodoCurriculo">
        <xs:annotation>
          <xs:documentation>Lista de todos os atendimentos realizados para cada período da matriz curricular em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoPeriodoCurriculo">
    <xs:sequence>
      <xs:element name="periodo" type="xs:int">
        <xs:annotation>
          <xs:documentation>Inteiro que identifica um período letivo de uma matriz curricular de um curso.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blocoAlunosId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador de um bloco de alunos dentro de um período de uma matriz curricular. Para maiores detalhes consulte a seção "Turmas simultâneas no mesmo instante de tempo dentro do mesmo período de um curso" do documento de Regras de Decisão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="atendimentosTatico" type="GrupoAtendimentoTatico">
          <xs:annotation>
            <xs:documentation>Lista de todas as ofertas atendidas no turno em questão para o modo de otimização tático. Para maiores informações consulte a seção "Objetivo do Problema" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="atendimentosOperacional" type="GrupoAtendimentoOperacional">
          <xs:annotation>
            <xs:documentation>Lista de todas as ofertas atendidas no turno em questão para o modo de otimização operacional. Para maiores informações consulte a seção "Objetivo do Problema" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoTatico">
    <xs:sequence>
      <xs:element name="turmaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>String que identifica unicamente uma turma que será oferecida para atender uma demanda.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina para a qual a turma será oferecida.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantidade" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de alunos que irá compor a turma.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qtdeCreditosTeoricos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos teóricos consumidos pelo atendimento em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qtdeCreditosPraticos" type="xs:int">
        <xs:annotation>
          <xs:documentation>Informa a quantidade de créditos práticos consumidos pelo atendimento em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemAtendimentoOperacional">
    <xs:sequence>
      <xs:element name="turmaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>String que identifica unicamente uma turma que será oferecida para atender uma demanda.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador da disciplina para a qual a turma será oferecida.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantidade" type="xs:int">
        <xs:annotation>
          <xs:documentation>Quantidade de alunos que irá compor a turma.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creditoTeorico" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Informa se os créditos representados pelos horários de aula são teóricos ou não (caso não seja teórico significa que é prático).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professorId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador do professor que ministrará as aulas em questão.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="horariosAula" type="GrupoHorarioAula">
        <xs:annotation>
          <xs:documentation>Listas dos horários de aula (tempos de aula).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoCampus">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoCampus" type="ItemAtendimentoCampus">
        <xs:annotation>
          <xs:documentation>Representa um campus com informações sobre os atendimentos das demandas alí realizados.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoUnidade">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoUnidade" type="ItemAtendimentoUnidade">
        <xs:annotation>
          <xs:documentation>Representa uma unidade de um campus com informações sobre os atendimentos das demandas alí realizados.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoSala">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoSala" type="ItemAtendimentoSala">
        <xs:annotation>
          <xs:documentation>Representa uma sala de uma unidade com informações sobre os atendimentos das demandas alí realizados.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoDiaSemana">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoDiaSemana" type="ItemAtendimentoDiaSemana">
        <xs:annotation>
          <xs:documentation>Representa um dia da semana com informações sobre os atendimentos das demandas ocorridos no dia em questão em uma dada sala.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoTurno">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoTurno" type="ItemAtendimentoTurno">
        <xs:annotation>
          <xs:documentation>Representa um turno com informações sobre os atendimentos das demandas ocorridos no mesmo.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoCurso">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoCurso" type="ItemAtendimentoCurso">
        <xs:annotation>
          <xs:documentation>Representa um curso com informações das demandas atendidas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoCurriculo" type="ItemAtendimentoCurriculo">
        <xs:annotation>
          <xs:documentation>Representa uma matriz curricular com informações das demandas atendidas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoPeriodoCurriculo">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoPeriodoCurriculo" type="ItemAtendimentoPeriodoCurriculo">
        <xs:annotation>
          <xs:documentation>Representa um período letivo de uma matriz curricular com informações das demandas atendidas.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoTatico">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoTatico" type="ItemAtendimentoTatico">
        <xs:annotation>
          <xs:documentation>Representa uma oferta atendida para o modo de otimização tático. Para maiores informações consulte a seção "Objetivo do Problema" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimentoOperacional">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimentoOperacional" type="ItemAtendimentoOperacional">
        <xs:annotation>
          <xs:documentation>Representa uma oferta atendida para o modo de otimização operacional. Para maiores informações consulte a seção "Objetivo do Problema" do documento de Regras de Decisão do TRIEDA.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoHorarioAula">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="horarioAulaId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identificador de um horário de aula.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>