doc/common/communication_protocol/TRIEDA-OutputXSD.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TriedaOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="atendimentos" type="GrupoAtendimento">
          <xs:annotation>
            <xs:documentation>lista dos atendimentos retornados pelo resolvedor matemático</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemAtendimento">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="ofertaCursoCampiId" type="xs:int">
        <xs:annotation>
          <xs:documentation>identificador (ItemOfertaCurso) de uma oferta de um curso em um campus</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="disciplinaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>identificador da disciplina (ItemDisciplina)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="turma" type="xs:string">
        <xs:annotation>
          <xs:documentation>código da turma gerada pelo resolvedor matemático</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quatidadeAlunos" type="xs:int">
        <xs:annotation>
          <xs:documentation>quantidade de alunos do curso alocados na turma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>identificador da sala (ItemSala) onde a turma será atendida</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diaSemana" type="xs:int">
        <xs:annotation>
          <xs:documentation>dia da semana em que a turma será atendida (um inteiro que represente um dia da semana. Os valores possíveis são: (1 - Dom), (2 - Seg), (3 - Ter), (4 - Qua), (5 - Qua), (6 - Sex), (7 - SAb))</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="alocacaoTatico" type="ItemTatico" />
        <xs:element name="alocacaoOperacional" type="ItemOperacional" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrupoAtendimento">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="atendimento" type="ItemAtendimento">
        <xs:annotation>
          <xs:documentation>representa um atendimento</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemTatico">
    <xs:sequence>
      <xs:element name="qtdeCreditosTeoricos" type="xs:int">
        <xs:annotation>
          <xs:documentation>quantidade de créditos teóricos atendidos no dia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qtdeCreditosPraticos" type="xs:int">
        <xs:annotation>
          <xs:documentation>quantidade de créditos práticos atendidos no dia</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemOperacional">
    <xs:sequence>
      <xs:element name="horarioAulaId" type="xs:int">
        <xs:annotation>
          <xs:documentation>identificador (ItemHorarioAula) do horário em que a turma será atendida</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="professorId" type="xs:int">
        <xs:annotation>
          <xs:documentation>identificador (ItemProfessor) do professor que irá ministrar a aula para a turma</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>